
@{
    ViewData["Title"] = "StudentForm";
}

<table id="maimTable">
    <tr>
        <td>
            <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
                <div>
                    <label>Full Name*</label><label class="validation-error hide" id="fullNameValidationError">This field is required.</label>
                    <input type="text" name="fullName" id="fullName">
                </div>
                <div>

                    <label>Father Name</label><label class="validation-error hide" id="fthNameValidationError">This field is required.</label>
                    <input type="text" name="FthName" id="FthName">
                </div>
                <div>
                    <label>CNIC</label><label class="validation-error hide" id="CNICvalidationError">This field is required.</label>
                    <input type="text" name="CNIC" id="CNIC">
                        <label>Phone</label><label class="validation-error hide" id="phonevalidationError">This field is required.</label>
                        <input type="text" name="phone" id="phone">
                   
                </div>
                <div><br />
                    <label>Course</label><label class="validation-error hide" id="courseValidationError">This field is required.</label>
                    <select name="course" id="course">
                         <option selected="selected" value="select">Select</option>
                        <option  value="one">HTML</option>
                        <option value="two">CSS</option>
                        <option value="three">.Net</option>
                    </select>
                </div>
                <div>
                    <label>Gender</label><br />
                    <input type="radio" name="gender" id="male" value="Male">
                    <label for="male">Male</label>
                    <input type="radio" name="gender" id="female" value="Female">
                    <label for="female">Female</label>
                </div>
                <div class="form-action-buttons">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </td>
        </tr>
</table>
<br />
<br />
<table class="list" id="studentList">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Father Name</th>
            <th>CNIC</th>
            <th>Course</th>
            <th>Gender</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<link href="~/css/studentFormcss.css" rel="stylesheet" />
<script src="~/js/studentForm.js"></script>



